<header id="header">
  <div id="action-buttons">
    <button id="run" class="ui labeled icon button">
      <i class="play icon"></i> Run
    </button>
    <button id="reset" class="ui labeled icon button">
      <i class="undo icon"></i> Reset
    </button>
    <button id="save" class="ui labeled icon button">
      <i class="save icon"></i> Save
    </button>
  </div>
</header>
